.button {
  font: inherit;
  border: 1px solid #61876E;
  background: #61876E;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #3C6255;
  border-color: #3C6255;
}

.button:focus {
  outline: none;
}
